<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
  <%= f.label :profile_image %><br>
  <%= f.file_field :profile_image %>
</div>

<div class="field">
  <%= f.label :age %><br>
  <%= f.number_field :age %>
</div>

<div class="field">
  <%= f.label :academic_year %><br>
  <%= f.text_field :academic_year %>
</div>

<div class="field">
  <%= f.label :department %><br>
  <%= f.text_field :department %>
</div>

<div class="field">
  <%= f.label :hometown %><br>
  <%= f.text_field :hometown %>
</div>

<div class="field">
  <%= f.label :profile %><br>
  <%= f.text_area :profile %>
</div>

  <%if @sns_id.present? %>
   <%= hidden_field_tag :sns_auth, true %>
   <%= hidden_field_tag :user_id, @user_id %>
  <% else %>

  <div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit "作成" %>
  </div>
<% end %>


