<% if current_user.id == @user.id %>
  <h3 style="margin-left: 0.5em;">プロフィール編集</h3>
  <%= form_for @user, html: { multipart: true } do |f| %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>項目</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= f.label :name, "名前" %></td>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td><%= f.label :profile_image, "プロフィール画像" %></td>
            <td><%= f.file_field :profile_image %></td>
          </tr>
          <tr>
            <td><%= f.label :age, "年齢" %></td>
            <td><%= f.number_field :age %></td>
          </tr>
          <tr>
            <td><%= f.label :academic_year, "学年" %></td>
            <td><%= f.text_field :academic_year %></td>
          </tr>
          <tr>
            <td><%= f.label :department, "学部" %></td>
            <td><%= f.text_field :department %></td>
          </tr>
          <tr>
            <td><%= f.label :hometown, "出身地" %></td>
            <td><%= f.text_field :hometown %></td>
          </tr>
          <tr>
            <td><%= f.label :profile, "プロフィール" %></td>
            <td><%= f.text_area :profile %></td>
          </tr>
          <tr>
            <td><%= f.label :match_distance, "マッチング距離" %></td>
            <td><%= f.number_field :match_distance, in: 1..100 %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-center">
     <div class="actions">
       <%= f.submit "更新", class: "btn btn-primary" %>
     </div>
    </div>
  <% end %>
  <br />
  <div class="text-center">
   <%= link_to '戻る', @user, class: "btn btn-secondary" %>
  </div>

<% else %>
  <h1>あなたのアカウントではありません</h1>
<% end %>
