<h1><%= @user.name %>のプロフィール</h1>
<% if @user.profile_image? %>
<img src="<%= @user.profile_image.url %>" height=150 width=150 alt="<%= @user.name %>'s profile image" />
<%else%>
    <img src="/assets/default.png" height=150 width=150 alt="<%= @user.name %>'s profile image" />
<%end%>
<p>年齢: <%= @user.age %></p>
<p>学年: <%= @user.academic_year %></p>
<p>学部: <%= @user.department %></p>
<p>出身地: <%= @user.hometown %></p>
<p>プロフィール: <%= @user.profile %></p>
<p>学部: <%= @user.department %></p>
<p>緯度: <%= @user.latitude %></p>
<p>経度: <%= @user.longitude %></p>
<% if @user.id == current_user.id %>
    <p><%= link_to 'myプロフィール編集', edit_user_path(current_user) %></p>
<% else %>
    <p><%= link_to 'チャットを始める', chat_path(@user.id), class: "ml-3" %></p>
<% end %>
