<h1><%= @user.name %>のプロフィール</h1>
<img src="<%= @user.profile_image %>" alt="<%= @user.name %>'s profile image" />
<p>年齢: <%= @user.age %></p>
<p>学年: <%= @user.academic_year %></p>
<p>学部: <%= @user.department %></p>
<p>出身地: <%= @user.hometown %></p>
<p>プロフィール: <%= @user.profile %></p>
