<h1>Welcome Home</h1>
<p><%= current_user.name %> are logged in!</p>
<h1>Matched Users</h1>

<%= link_to 'チャット一覧', 'rooms/show' %>
<% @matches.each do |match| %>
  <% matched_user = match.user_id == current_user.id ? User.find(match.matched_user_id) : User.find(match.user_id) %>
  <div class="matched-user">
    <% if matched_user.profile_image? %>
    <img src="<%= matched_user.profile_image.url %>" height=150 width=150 alt="<%= matched_user.name %>'s profile image" />
    <%end%>
    <p>ユーザ名: <%= matched_user.name %></p>
    <p>マッチ時間: <%= match.created_at %></p>
    <p>経度: <%= match.match_latitude %></p>
    <p>緯度: <%= match.match_longitude %></p>
    <%= link_to 'プロフィールを見る', user_path(matched_user) %>
  </div>
<% end %>
