<html>
 <h1>ようこそ、'ここだよ'へ！</h1>
 <p><%= current_user.name %>のアカウントです。</p>
 <h1>マッチ履歴</h1>

 <head>
  <title>GeoChat</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 </head>

 <body>
  <div class="container">
    <div class="row">
    <% @matches.each do |match| %>
    <% matched_user = match.user_id == current_user.id ? User.find(match.matched_user_id) : User.find(match.user_id) %>
      <div class="col-sm-3 col-xs-6">
      <div class="matched-user">
      <% if matched_user.profile_image? %>
        <img src="<%= matched_user.profile_image.url %>" height=150 width=150 alt="<%= matched_user.name %>'s profile image" />
      <% else %>
        <img src="/assets/default.png" height=150 width=150 alt="<%= matched_user.name %>'s profile image" />
      <% end %>
        <div><%= matched_user.name %></div>
        <div>マッチ時間: <%= formatted_time(match.created_at) %></div>
        <%= link_to 'プロフィールを見る', user_path(matched_user) %>
      </div>
      </div>
    <% end %>
    </div>
  </div>
  
   <script src="js/bootstrap.min.js"></script>
 </body>
</html>
