<h1>Welcome Home</h1>
<p>You are logged in!</p>
<h1>Matched Users</h1>

<% @matches.each do |match| %>
  <% matched_user = match.user_id == current_user.id ? User.find(match.matched_user_id) : User.find(match.user_id) %>
  <div class="matched-user">
    <img src="<%= matched_user.profile_image %>" alt="<%= matched_user.name %>'s profile image" />
    <p>ユーザ名: <%= matched_user.name %></p>
    <p>マッチ時間: <%= match.created_at %></p>
    <%= link_to 'プロフィールを見る', user_path(matched_user) %>
  </div>
<% end %>
