<h1>ピース集めの旅 ホーム</h1>
<p>すれ違った人からピースを集め, 筑波大学を完成させよう！</p>

<% if User.find_by(id: current_user.id).pieces.empty? %>
  <% new_piece = Piece.all.sample(1).first %>
  <h4>最初のピース「<%= new_piece.name %>」をゲットしました！</h4>
  <% UserPiece.create(user_id: current_user.id, piece_id: new_piece.id) %>
  <% @pieces = [new_piece] %>
<% end %>

<% @users.each do |user| %>
  <div>
    <%= link_to piece_path(user) do %>
      <% if user.profile_image? %>
        <img src="<%= user.profile_image.url %>" height=150 width=150 alt="<%= user.name %>'s profile image" />
      <% else %>
        <img src="/assets/default.png" height=150 width=150 alt="<%= user.name %>'s profile image" />
      <% end %>
      <div><%= user.name %></div>
    <% end %>
  </div>
<% end %>

<div class="map" id="map" ></div>
<script>
  let historicalOverlay;

  function initMap() {
    function Grid(size) {
      this.tileSize = size;
    }

    Grid.prototype.maxZoom = 12;
    Grid.prototype.minZoom = 8;
    Grid.prototype.getTile = function(coord, zoom, ownerDocument) {
      var div = ownerDocument.createElement('div');
      div.innerHTML = coord;
      div.style.width = this.tileSize.width + 'px';
      div.style.height = this.tileSize.height + 'px';
      div.style.borderStyle = 'solid';
      div.style.borderWidth = '1px';
      return div;
    };

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: {lat: 0, lng: 0},
      mapTypeId: 'custom_type',
      streetViewControl: false,
      mapTypeControl: false,
    });

    const imageBounds = {
      north: 0.75,
      south: 0,
      east: 0.5,
      west: 0,
    };

    map.mapTypes.set('custom_type', new Grid(new google.maps.Size(256, 256)));
    historicalOverlay = new google.maps.GroundOverlay(
      "/assets/2.png",
      imageBounds
    );
    historicalOverlay.setMap(map);
  }
  window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAToqnvm_22X0zWbCJfoRyuOLg94PLYLR8&callback=initMap" async defer></script>
