<h1>ピース集めの旅 交換</h1>
<% if @user.profile_image? %>
  <img src="<%= @user.profile_image.url %>" height=150 width=150 alt="<%= @user.name %>'s profile image" />
<% else %>
  <img src="/assets/default.png" height=150 width=150 alt="<%= @user.name %>'s profile image" />
<% end %>
<%= @user.name %>

<p><%= link_to '交換をやめる', pieces_path %></p>

<% if @pieces.empty? %>
  <% Exchange.create(user_id: current_user.id, exchanging_user_id: @user.id) %>
  <p>交換できるピースがありません</p>
<% else %>
  <% @pieces.each do |piece| %>  
    <%= link_to new_piece_path(piece_id: piece.id, user_id: @user.id) do %>
      <div>
        <% if piece.image? %>
          <img src="<%= piece.image %>" height=150 width=150 alt="<%= piece.name %>'s profile image" />
        <% else %>
          <img src="/assets/default.png" height=150 width=150 alt="<%= piece.name %>'s profile image" />
        <% end %>
        <%= piece.name %>
      </div>
    <% end %>
  <% end %>
<% end %>