<div class="chat-container">
  <%= link_to '＜ チャット一覧に戻る', '/rooms/show' %>
  <div class="chat-topbar">
    <span class="chat-partner-name"><%= @chat_partner_name %></span> <!-- クラスを追加 -->
  </div>
  <div class="chat-messages">
    <%= render "chats/messages", chats: @chats %>
  </div>

  <div class="chat-form">
    <%= form_with model: @chat, data: {remote: true} do |f| %>
      <div class="errors">
        <%= render "layouts/errors", obj: f.object %>
      </div>
      <%= f.text_field :message, placeholder: "メッセージを入力してください", autocomplete: "off", class: "chat-input" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "SEND", class: "send-button" %>
    <% end %>
  </div>
</div>
