<footer class="footer-icons">
  <div class="col-3 text-center">
    <%= link_to myrooms_path do %>
      <%= image_tag asset_path("chat.png"), alt: "", class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-3 text-center">
    <%= link_to root_path do %>
      <%= image_tag asset_path("map.png"), alt: "", class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-3 text-center">
    <%= link_to games_path do %>
      <%= image_tag asset_path("game.png"), alt: "", class: "img-fluid" %>
    <% end %>
  </div>
  <div class="col-3 text-center">
    <%= link_to user_path(current_user) do %>
      <% if current_user.profile_image.url %>
        <%= image_tag current_user.profile_image.url, alt: "", class: "img-fluid" %>
      <% else %>
        <%= image_tag asset_path("default.png"), alt: "", class: "img-fluid" %>
      <% end %>
    <% end %>
  </div>
</footer>
