<!DOCTYPE html>
<html>
  <head>
    <title>GeoChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if user_signed_in? %>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
    <% if user_signed_in? %>
    <%= render 'layouts/footer' %>
    <% end %>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
